@model MvcKutuphane.Models.Entity.TblHareket
@{
    ViewBag.Title = "Odunciade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(k => k.id, new { @class = "form-control" })
        <br />
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.TblKitap.ad, new { @class = "form-control" })
        <br />
        <label>Üye</label>
        @Html.TextBoxFor(k => k.TblUyeler.id, new { @class = "form-control" })
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(k => k.TblPersonel.personel, new { @class = "form-control" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(k => k.alistarihi, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Normal İade Tarihi</label>
        @Html.TextBoxFor(k => k.iadetarihi, "{0: dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Üyenin Getirdiği Tarihi</label>
        <input type="text" class="form-control" name="uyegetirtarih" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Geç Gelen Gün Sayısı</label>
        <input type="text" id="Gecinput" class="form-control" value="@ViewBag.dgr" />

    </div>
    <div>
        <button class="btn btn-warning">Ödünç Kitabı Geri Al</button>
    </div>
}
