@using MvcKutuphane.Models.Entity
@model List<TblKitap>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Yazarı : @ViewBag.y1</h2>
<br />
<table class="tale table-striped">
    <tr>
        <th>ID</th>
        <th>Yazar Adı</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.TblYazar.ad @x.TblYazar.soyad </td>
            <td>@x.ad</td>
            <td>@x.TblKategori.ad</td>
            <td>@x.yayinevi</td>
        </tr>
    }
</table>

