@model MvcKutuphane.Models.Entity.TblKitap
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(k => k.id, new { @class = "form-conrol" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(k => k.ad, new { @class = "form-conrol" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategori</label>
            @Html.DropDownListFor(k => k.TblKategori.id, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom: 15px">
            <label>Yazar</label>
            @Html.DropDownListFor(k => k.TblYazar.id, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom: 15px">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(k => k.basımyil, new { @class = "form-conrol" })
        </div>
        <div style="margin-bottom: 15px">
            <label>Yayınevi</label>
            @Html.TextBoxFor(k => k.yayinevi, new { @class = "form-conrol" })
        </div>
        <div style="margin-bottom: 15px">
            <label>Sayfa</label>
            @Html.TextBoxFor(k => k.sayfa, new { @class = "form-conrol" })
        </div>
        <button class=" btn btn-warning">Kitap Güncelle</button>
        @*<input type="hidden" name="Durum" value="True" />*@
    </div>
}

