@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblUyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Uye ID</th>
        <th>Uye Adı</th>
        <th>Uye Soyadı</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kitap Geçmişi</th>
    </tr>

    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.id</td>
            <td>@uye.ad</td>
            <td>@uye.soyad</td>
            <td>@uye.okul</td>
            <td><a href="/Uye/UyeSil/@uye.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@uye.id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@uye.id" class="btn btn-success">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Uye Ekle</a>

